<!DOCTYPE html>
<html>
<head>
    <title>Selamat Datang di API</title>
    <!-- Tambahkan referensi ke Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Selamat Datang di API</h1>
        <p class="lead">Ini adalah platform Info Seminar dan Lomba menggunakan Spring Boot.</p>
        <hr class="my-4">
        <p>Selamat datang! Anda dapat mulai menjelajahi API kami.</p>
        <!-- Tambahkan tombol yang mengarahkan ke API atau fitur lainnya -->
        <a class="btn btn-primary btn-lg" href="#" role="button">Mulai</a>
    </div>
</div>

<!-- Tambahkan referensi ke Bootstrap JavaScript dan jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
